<div class="layout-topbar">
    <!-- <p-menubar class="layout-topbar" [model]="items">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search" class="w-full" />
        </ng-template>
    </p-menubar> -->
    
    <!-- <span class="example-spacer"></span> -->
    <p class="title">meals </p>
    <span style="color: white;" class="material-icons">restaurant_menu</span>
    <span class="spacer"></span>
    <p>
        <a class="menu-items">Wallet</a>
    </p>
    <p>
        <a class="menu-items">Orders</a>
    </p>
    <p>
        <a class="menu-items">Account</a>
    </p>
</div>
<br><br><br><br>