<div style="display: flex; justify-content: center;">
    <div style="margin: 1%;" class="card flex justify-content-center">
        <p-dropdown [style]="{'width': '10rem', 'height': '-webkit-fill-available'}"
            [(ngModel)]="selectedMeal" [options]="meals" optionLabel="name" (onClick)="filter(selectedMeal.id)"></p-dropdown>
    </div>
    <div style="margin: 1%; width: 10rem;">
        <p-calendar dir="ltr" [(ngModel)]="selectedDate" [readonlyInput]="true" [minDate]="tomorrow" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"></p-calendar>
    </div>
</div>
<div style="display: flex;">
    <p-card class="tabCard">
        <div class="card">
            <p-tabView >
                <p-tabPanel header="Header II">
                    <ng-template pTemplate="header">
                        <span class="material-icons">attach_money</span>
                        <span>Priced MENU  </span>
                    </ng-template>
                    <p>
                        <app-priced></app-priced>
                    </p>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span class="material-icons">money_off</span>
                        <span>Low-Priced MENU </span>
                    </ng-template>
                    <p>
                    <app-subsidized></app-subsidized>
                </p>
                </p-tabPanel>
            </p-tabView>
        </div>
    </p-card>
</div>
