<app-tool-bar></app-tool-bar>

<p-card class="tableCard">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span class="material-icons">menu_book</span>
                <span class="tabHeader">Menu </span>
            </ng-template>
            <p>
                <app-menu></app-menu>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Reviews ">
            <ng-template pTemplate="header">
                <span class="material-icons">rate_review</span>
                <span class="tabHeader">Reviews </span>
            </ng-template>
            <p>
                <app-review></app-review>
            </p>
        </p-tabPanel>
    </p-tabView>
</p-card>
<router-outlet />
